%table.table.table-striped#cars_list_table
  %thead
    %tr
      %th Name
      %th Color
      %th Horsepowers
      %th
        %input#checkall{type: "checkbox"}
      %th
        =t '.actions', :default => t("helpers.actions" + ":")
        = submit_tag "Delete selected", :class => 'btn btn-mini btn-danger', id: 'delete_multiple'
        = link_to 'XML', cars_path(:format => 'xml'), :class => 'btn btn-mini btn-info'
  %tbody
    - cars.each do |car|
      %tr
        %td= link_to car.name, car_path(car)
        %td= car.color
        %td= car.horsepower
        %td= check_box_tag "cars_list[]", car.id
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_car_path(car), :class => 'btn btn-mini'